{% extends "layout.html" %}
{% block content %}
  <div class="main">
    Welcome to the MASA production site!
    This site runs on a Raspberry Pi in the workspace. It serves up to date logistical 
    information to the production team using:
    <ul>
      <li>Python: serverside scripting</li>
      <li>Flask: Python serverside framework</li>
      <li>Jinja2: HTML templating</li>
      <li>Javascript: clientside scripting</li>
      <li>React: Javascript clientside framework</li>
      <li>SQLite3: database</li>
    </ul>
    Want to help make the site better?
    Fork it on Github <a href="https://github.com/Carrotstrip/masaProduction">here!</a>
    </br>
    -by Austin Wolfgram and Jacob Fedrigon
  </div>
{% endblock %}