{% extends "layout.html" %}
{% block content %}
  <div class="create">
    <body>
        <form action="" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="text" name="fullname" placeholder="fullName" />
          <input type="text" name="uniqname" placeholder="uniqname" />
          <input type="password" name="password" placeholder="password" />
          <input type="submit" name="signup" value="sign up"/>
        </form>
      </body>
  </div>
{% endblock %}

