<!DOCTYPE html>
<html lang="en">
<head>
  <title>insta485</title>
</head>
<body>
<ul>
  <li><a href={{url_for('show_index')}}> <h1> | Insta485 </h1></a></li>
  <li style="float:right">
    <h2> 
      <a href={{url_for('show_login')}}>explore</a>
    </h2>
  </li>
</ul>
<hr>

<body>
<form action="" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="text" name="fullname"/>
  <input type="text" name="username"/>
  <input type="text" name="email"/>
  <input type="password" name="password"/>
  <input type="submit" name="signup" value="sign up"/>
</form>




</body>