{% extends "layout.html" %}
{% block content %}
  <div class="main">
    {% if filename %}
      <img src="{{url_for('viewImage', filename = filename)}}" alt="User Profile" height="200">
    {% endif %}
      {{logname}}
      
      <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="fullname" value="{{fullname}}" placeholder="update fullname"/>
        <input type="text" name="uniqname" value="{{uniqname}}" placeholder= "update uniqname"/>
        <input type="submit" name="update" value="submit"/>
      </form>
      <div class="main">
        <a href={{url_for('showPassword')}}>change password</a>
        <a href={{url_for('showDelete')}}>delete account</a>
      </div>

  </div>
{% endblock %}
