{% extends "layout.html" %}
{% block content %}
  <div class="main">
    <form action="" method="post" enctype="multipart/form-data">
      <input type="text" name="uniqname" placeholder="uniqname" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="login"/>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </div>
{% endblock %}