{% extends "layout.html" %}
{% block content %}
  <div class="parts">    
    This should show a nice little square entry for each part currently in the queue (that means approved from readers). 
    Each entry should have the part name, part number, a little thumbnail of the drawing, the deadline, and the principal machinist.
    I'd kinda like to use React, but idk how necessary that would be, it'd mostly be for consistency with the user pages, which
    i want to be reactive. may as well use react for everything, maybe settle into the react for views only paradigm (google it)
    
  </div>
{% endblock %}